{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

{{if 'group' in globals():}}
<h3>{{=group[0].group_name}}</h3>

{{if auth.is_logged_in():}}

{{is_member=db((db.group_member_list.user_id==auth.user.id) & (db.group_member_list.group_id==group[0].id)).select()}}

{{try:}}

{{if is_member:}}
{{=A(T("Leave group"), _href=URL('group/d/'+group[0].group_name+'/leave', ' '), _class='btn',_style='margin-top: 1em;')}}
{{else:}}
{{=A(T("Join group"), _href=URL('group/d/'+group[0].group_name+'/join', ' '), _class='btn',_style='margin-top: 1em;')}}
{{pass}}

{{except IndexError:}}
{{=A(T("Join group"), _href=URL('group/d/'+group[0].group_name+'/join', ' '), _class='btn',_style='margin-top: 1em;')}}
{{pass}}

{{else:}}
{{=A(T("Join group"), _class='btn disabled',_style='margin-top: 1em;')}}
{{pass}}

<br>
<table>
	<tbody>
		<tr>
			<td><strong>{{=T('ID:')}}</strong></td>
			<td>{{=group[0].id}}</td>
		</tr>
		<tr>
			<td><strong>{{=T('Description')}}:</strong></td>
			<td>{{=group[0].group_desc}}</td>
		</tr>
		<tr>
			<td><strong>{{=T('Facebook URL:')}}</strong></td>
			<td>{{=group[0].group_facebook}}</td>
		</tr>
		<tr>
			<td><strong>{{=T('Tags:')}}</strong></td>
			<td>{{=group[0].group_tags}}</td>
		</tr>
	</tbody>
</table>
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
{{if 'events' in globals():}}
{{for event in events:}}
<hr>

<h4>{{=A(event.event_name, _href=URL('','group/d/'+group[0].group_name+'/'+str(event.id), ' '))}}</h4>
<table>
	<tbody>
		<tr>
			<td><strong>{{=T('Event location')}}</strong></td>
			<td>{{=event.event_location}}</td>
		</tr>
		<tr>
			<td><strong>{{=T('Event description')}}</strong></td>
			<td>{{=event.event_desc}}</td>
		</tr>
		<tr>
			<td><strong>{{=T('Event datetime')}}</strong></td>
			<td>{{=event.event_datetime}}</td>
		</tr>
	</tbody>
</table>
{{pass}}
{{pass}}

