{{feature_panel_enabled, countdown_feature_enabled, login_feature_enabled = (True,)*3}}
{{extend 'home.html'}}

{{block feature1}}
<div class="featureicon"><img src="{{=URL('static', '/img/big-group.png')}}" alt="Join/create groups" title="Join/create groups"/>
</div>
<h3>Join/create groups of likeminded folk</h3>
<p>
	Build your network
</p>
{{end}}

{{block feature2}}
<div class="featureicon"><img src="{{=URL('static', '/img/big-dollar.png')}}" alt="Buy/sell tickets" title="Buy/sell tickets"/>
</div>
<h3>Buy/Sell tickets (commission-free)</h3>
<p>
	We don't take commission, so use our system for your next premium event :)
</p>
{{end}}

{{block feature3}}
<div class="featureicon"><img src="{{=URL('static', '/img/big-calendar.png')}}" alt="Find interesting events" title="Find interesting events"/>
</div>
<h3>Find interesting events</h3>
<p>
	We are planning to hold events every month with guest-speakers.
</p>
{{end}}

{{block feature4}}
<div class="featureicon"><img src="{{=URL('static', '/img/big-phone.png')}}" alt="Mobile apps" title="Mobile apps"/>
</div>
<h3>Mobile apps</h3>
	<ul class="row-fluid">
		<li class="span5">&bull; Apple iOS</li>
		<li class="span5">&bull; Google Android</li>
		<li class="span5">&bull; RIM Blackberry</li>
		<li class="span5">&bull; HP webOS</li>
		<li class="span5">&bull; Nokia Symbian</li>
		<li class="span5">&bull; Samsung Bada</li>
	</ul>
{{end}}
