 {{left_sidebar_enabled,right_sidebar_enabled,body_enabled=False,True,True}}
{{extend 'layout.html'}}

{{if 'events_list' in globals():}}
<h5>{{=T('List of events')}}</h5>
<button class="btn btn-primary" data-toggle="collapse" data-target="#create-event">
	<i class="icon-plus icon-white"></i> Create an event <span class="caret"></span>
</button>
<div id="create-event" class="collapse">
	<div id="target"></div>
	
	<div class="alert alert-block alert-info fade in">
		<button class="alert close" data-toggle="collapse" data-target="#create-event">
			&times;
		</button>
		{{=LOAD('events', 'create_event', ajax=True)}}
	</div>
</div>

{{=search_form}}

{{if search_result[0]:}}
<div id="search-results" class="open">
	<div class="alert alert-block alert-success fade in">
		<a class="close" data-dismiss="alert" href="#search-results">&times;</a>

		{{for event in search_result[0]:}}
		<table>
			<tbody>
				<tr>
					<h4>{{=A(event.event_name, _href=URL('','group/d/', ' '))}}</h4>
				</tr>
				<tr>
					<td><strong>{{=T('Description')}}:</strong></td>
					<td>{{=event.event_desc}}</td>
				</tr>
				<tr>
					<td><strong>{{=T('Facebook URL:')}}</strong></td>
					<td>{{=event.event_datetime}}</td>
				</tr>
			</tbody>
		</table>
		{{pass}}
	</div>
</div>

{{elif search_result[1]:}}
<div id="search-results" class="open">
	<div class="alert alert-block alert-error fade in">
		<a class="close" data-dismiss="alert" href="#search-results">&times;</a>
		{{=T('No results were found matching your query.')}}
	</div>
</div>
{{pass}}

{{for i, event in enumerate(events_list):}}
{{if i==items_per_page: break}}
<h4>{{=A(event.event.event_name, _href=URL('group/d/'+event.picnics.group_name, str(event.event.id)))}}</h4>
<table>
	<tbody>
		<tr>
			<td><strong>{{=T('Description')}}:</strong></td>
			<td>{{=event.event.event_desc}}</td>
		</tr>
		<tr>
			<td><strong>{{=T('Datetime')}}</strong></td>
			<td>{{
				from gluon.tools import prettydate
				=prettydate(event.event.event_datetime, T) if event.event.event_datetime else "TBA"
				}}</td>
		</tr>
		<tr>
			<td><strong>{{=T('Location')}}</strong></td>
			<td>{{=event.event.event_location if event.event.event_location else "TBA"}}</td>
		</tr>
		<tr>
			<td><strong>{{=T('Group')}}</strong></td>
			<td>{{=event.picnics.group_name}}</td>
		</tr>
	</tbody>
</table>
<br>
{{pass}}

{{if page:}}
<a href="{{=URL(args=[page-1])}}">previous</a>
{{pass}}

{{if len(events_list)>items_per_page:}}
<a href="{{=URL(args=[page+1])}}">next</a>
{{pass}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
