{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

<h4>{{=T('Registered users:')}}</h4>
{{=T('')}}
{{if 'group_list' in globals():}}
{{=group_list}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
{{=A(T("Admin Panel"), _href=URL('admin','default','index'), _class='btn', _style='margin-top: 1em;')}}
{{=A(T("Groups"), _href=URL('','groups',' '), _class='btn',_style='margin-top: 1em;')}}
{{=A(T("Group list"), _href=URL('groups','list'), _class='btn',_style='margin-top: 1em;')}}
<h6>{{=T('Features')}}</h6>
<ol>
  <li>Personal profile for each user account</li>
  <li>Possibility of logging in with Facebook</li>
  <li>Ability to follow other people for profile updates</li>
  <li>API exposed for doing common tasks</li>
  <li>Mobile app made with PhoneGap</li>
</ol>
{{end}}

