
{{if 'user_profile' in globals():}}
<h4>{{=user_profile['name']}} <small>welcome back!</small></h4>
<ul class="unstyled">
	<li>{{=user_profile['email']}}</li>
	<li><strong>Interests:</strong> {{=user_profile['interests']}}</li>
</ul>
<h3>My groups</h3>
{{for group in user_profile['member_of']:}}
<h5>{{=A(group.group_name, _href=URL('','group/d/'+group.group_name, ' '))}}</h5>
<br>
<h3>My upcoming events</h3>
{{if len(user_profile['rsvp_yes'])+len(user_profile['rsvp_maybe'])==0:}}
{{=T('o.O! - You haven\'t signed up to any events! - Find one today :D')}}
{{else:}}
{{for yes_event in user_profile['rsvp_yes']:}}
{{=yes_event}}
{{pass}}
{{for maybe_event in user_profile['rsvp_maybe']:}}
{{=maybe_event}}
{{pass}}
{{pass}}
<br>
{{=A(T("Edit profile"), _href=URL(), _class='btn',_style='margin-top: 1em;')}}
{{pass}}
<br>

{{else:}}
{{=T('Foo!')}}
{{from profile import *}}
{{profile.index()}}
{{pass}}